.lightPaper {
  background-color: #ffffff;
  color: #000000;
}

.lightSectionHeading {
  font-family: "Oswald", sans-serif;
  text-align: center;
  padding: 20px 0 30px 0;
  color: #000000;
}

.projectImg {
  background-size: cover;
  height: 200px;
}

.excerpt {
  min-height: 150px;
}
