.lightPaper {
  background-color: #ffffff;
  color: #000000;
  padding-bottom: 50px;
}

.lightSectionHeading {
  font-family: "Oswald", sans-serif;
  text-align: center;
  padding: 20px 0 30px 0;
  color: #000000;
}

.media {
  height: 260px;
}

.forAccessibilityOnly {
  opacity: 0;
  height: 0;
  display: flex;
}

.projectTitle {
  color: #ffffff;
}

.projectTitle:hover {
  color: #e33654;
}

.excerpt {
  // min-height: 120px;
  margin-bottom: 0;
}

.btnContainer {
  text-align: center;
  justify-content: center;
  margin-bottom: 10px;
}

.btn,
.projectTitle {
  text-decoration: none;
}
