.paper {
  margin-top: 64px;
  padding-bottom: 1;
}

.header {
  padding-top: 50px;
}

.lightCard {
  background-color: #000000;
  padding: 40px;
  margin: 40px auto;
}

a {
  text-decoration: none;
}
