.paper {
  margin-top: 64px;
  padding-bottom: 200px;
}

.header {
  padding-top: 50px;
}

.lightCard {
  background-color: #000000;
  pointer-events: none;
  // padding: 40px;
  margin: 20px auto;
}

a {
  text-decoration: none;
  h3 {
    margin: 0;
  }
}
