@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&display=swap");

.contactSection {
  padding-bottom: 30px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.87)),
    url("/images/office.jpeg") center center no-repeat fixed;
  background-size: cover;
  padding: 40px 0;
}

.sectionHeading {
  font-family: "Oswald", sans-serif;
  text-align: center;
  padding: 20px 0;
}

.msg {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 10px;
  letter-spacing: 0.2rem;
  font-style: italic;
  width: 340px;
  padding: 3px;
  font-size: 16px;
  font-weight: bold;
  color: rgb(5, 110, 5);
  background-color: #fff;
  border-radius: 5px;
  display: none;
}

.msgAppear {
  display: block;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
