$primary: #ffffff;
$secondary: #000000;

.root {
  display: flex;
  flex-wrap: wrap;
}

.footer {
  width: 100%;
  height: 64px;
  background-color: $secondary;
  color: $primary;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.small {
  margin: 0 10px;
  img {
    width: 95%;
    height: auto;
  }
}
